<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

			<center>
				<h1>Edit your profile!</h1>
			</center>

			<%= form_for @user, url: update_user_path, class: "form-group"  do |f|  %>

			<%= f.label :first_name %>
			<%= f.text_field :first_name, placeholder: "First Name", class: "form-control", :required => true, :autofocus => true %><hr>

			<%= f.label :last_name %>
			<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control", :required => true %><hr>

			<%= f.label :username %>
			<%= f.text_field :username, placeholder: "Username", class: "form-control", :required => true %><hr>

			<%= f.label :email %>
			<%= f.text_field :email, placeholder: "Email", class: "form-control", :required => true %><br>

			<!-- here is where i need to add a city form -->
			<%= f.label :password %>
			<%= f.password_field :password, placeholder: "Password", class: "form-control", :required => true %><br>

			<%= f.label :profile_image %>
			<%= f.file_field :avatar %>
			
			

			<center>
				<%= f.submit "Update User", class: "btn btn-primary" %>
				<%= @error %>
			</center>
			<% end %>
		</div>
	</div>
</div>