<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1">
			<div class="panel panel-default">
				  <div class="panel-body" style="text-align:center">
				    <a href="/users/<%= @review.user.id %>" >
				    <h5>Authored by: <%= @review.user.first_name %> </h5></a><br>
				    <p><%= image_tag @review.user.avatar.url(:thumb) %></p>
				    <p>Location: <br> <a href="/reviews/<%= @review.user.id %>"</a> <%= @review.user.full_name %></p> 
				  </div> 
			</div>
		</div>
		<div class="col-sm-6 panel panel-default">
			<div class="panel-body">
				<h2><%= @review.title %>
					<small> 				
						<% if current_user == @review.user %>
							<%= link_to "",  @review, class:"glyphicon glyphicon-remove pull-right",  method: :delete, data: { confirm: 'Are you sure?' } %> 
							<%= link_to "", edit_review_path, class:"glyphicon glyphicon-pencil pull-right" %>
						<% end %>
						 
					</small>
				</h2>
					<p><%= @review.body %></p>
					<br>
			</div>
		</div>


	</div>
</div>