<div class="container">
  <div class="row">
    <div class="col-md-5">
	  <div class="thumbnail"> 
		 <center>
		    <%= image_tag @trainer.avatar.url(:medium) %>
		    <h4><%= @trainer.full_name %> </h4>
		    <p> you've been a member since: <%= @trainer.created_at %></p>
	        <% if current_trainer == @trainer %>
	 		<%= link_to "Edit Your Trainer Profile", edit_trainer_path, class: "btn btn-primary" %>
	        <hr> 
	        <% end %>
         </center>
	  </div>
    </div>
    <div class="col-md-offset-5">
  	  <div class="thumbnail"> 
        <center>		
		    <% if @trainer.reviews.any? %>
		    	<h3>Reviews:</h3> <br>
	        	<% @trainer.reviews.each do |review| %>
					<div class="well">
					  	<p><%= review.body %></p>
				  	    <% if current_user == review.user %>
				  			<%= link_to "Edit Review", edit_review_path(review) %>
				  		<% end %>
				  	</div>
				<% end %>
			<% else %>
				<h3>No Reviews Currently Available</h3>
			<% end %>	



	  	<% if current_user %>
          <%= link_to "Add A Review", new_trainer_review_path(@trainer), class: "btn btn-primary" %>
	  	<% end %>
      <center>  
	</div>
  </div>
</div>