<div class="container">
  <div class="row">
    <div class="col-md-5">
	  <div class="thumbnail"> 
		 <center>
		 	
    
		    <%= image_tag @trainer.avatar.url(:medium) %>
		    <h4><%= @trainer.full_name %> </h4>
		    <h4><%= @trainer.city_name %> </h4>
		    <p> you've been a member since: <%= @trainer.created_at %></p>
	        <% if current_trainer == @trainer %>
	 		<%= link_to "Edit Your Trainer Profile", edit_trainer_path, class: "btn btn-primary" %>
	        <hr> 
	        
	        <% end %>
	    
         </center>
         <center>
         	<h3><a href="/reviews/new">Add A Review</a></h3>
    		</center>
	  </div>
    </div>
    <div class="col-md-offset-5">
  	  <div class="thumbnail"> 
        <center>
		    <% if @trainer.reviews.any? %>
		    	<!-- <h3> [ Reviews ]</h3> --> <br>
	        	<% @trainer.reviews.each do |review| %>
					<div class="well">
						<h5> - Reviews -</h5>
						<p><%= review.title %></p>
					  	<p><%= review.body %></p>
				  	    <% if current_user == review.user %>
				  			<%= link_to "", edit_review_path, class:"glyphicon glyphicon-pencil pull-right" %>
				  		<% end %>
				  	<h5> - Comments -</h5>
				  	<% if review.comments.any? %>	
				  		<% review.comments.each do |comment| %>
				  			<p><%= comment.body %></p>
				  		<% end %>
				  	<% end %>

				  		<p>add a comment<%= link_to "", new_comment_path(review), class:"glyphicon glyphicon-pencil pull-right" %></p>
				  	</div>
				<% end %>
			<% else %>
				<h3>No Reviews Currently Available</h3>
			<% end %>	

	  

      <center>  
	</div>
  </div>
</div>